.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-height: 130px;
  background-color: rgb(37, 37, 37);
}
.header__title > h1 {
  font-size: 1.2rem;
  color: white;
}
.CerrarSesion {
  background-color: rgb(37, 37, 37);
  border: 1px solid lightgray;
  padding: 0.6rem;
  width: 10rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  outline: none;
}
.CerrarSesion:hover {
  background-color: white;
  border: 1px solid rgb(37, 37, 37);
  color: rgb(37, 37, 37);
}
