.tasksprojects {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  align-items: center;
}
.taskproject__tasks {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgb(232, 235, 240);
  align-items: center;
  margin-top: 2rem;
}
.tasksprojects__hrcontainer {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
}
.tasksprojects__hrcontainer > hr {
  background-color: rgb(223, 219, 219);
  height: 4px;
  border: none;
}

.tasksprojects__header {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  .tasksprojects__header {
    margin-top: 2rem;
    display: flex;
    max-width: 60%;
    width: 100%;
    flex-direction: column;
  }
}
.taskprojects__input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  color: rgb(117, 117, 117);
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
}
.tasksprojects > h2 {
  color: rgb(117, 117, 117);
  padding: 2rem;
}
.tasksprojects__input {
  width: 100%;
  margin-bottom: 10px;
}
.tasksprojects__content {
  width: 100%;

  padding: 1rem;
}
.taskprojects__alertmessage {
  display: flex;
  justify-content: center;
}
.tasksprojects__styles-enter {
  opacity: 0;
}
.tasksprojects__styles-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.tasksprojects__styles-exit {
  opacity: 1;
}
.tasksprojects__styles-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.taskproject__tasks > h2 {
  color: rgb(117, 117, 117);
  padding: 2rem;
}
.button__tasks {
  background-color: rgb(37, 37, 37);
  border: 1px solid lightgray;
  padding: 0.8rem;
  width: 100%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  margin-top: 1rem;
}
.button__tasks > p {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  font-weight: normal;
}
.button__tasks:hover {
  background-color: rgb(44, 44, 44);
}
.tasksprojects__subheader {
  display: flex;
  max-width: 600px;
  width: 95%;
}
.tasksprojects__subheader > h2 {
  flex: 1;
  margin-top: 1rem;
}
.tasksprojects__subheader > p {
  color: rgb(150, 149, 149);
}
.tasksprojects__deleteproject {
  color: rgb(235, 4, 4);
}
.button_deleteproject {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;
  outline: none;
}
.button_deleteproject > p {
  color: rgb(124, 123, 123);
}
.button_deleteproject:hover {
  border-color: rgb(214, 3, 3);
}
.tasksprojects__buttondelete {
  border: none;
  padding: 0.5rem;
  width: 8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}
.tasksprojects__buttondelete:hover {
  background-color: rgb(31, 30, 30);
}
.tasksprojects__buttoncancel {
  border: none;
  padding: 0.5rem;
  width: 8rem;
  background-color: rgb(196, 5, 5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}
.tasksprojects__buttoncancel:hover {
  background-color: rgb(204, 29, 29);
}
.tasksprojects__divcontenerbutton {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasksprojects__modaltext {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tasksprojects__modaltext > h2 {
  margin-bottom: 1rem;
}
