.tasks {
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 1px 8px 7px 0px lightgray;
  margin-bottom: 0rem;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
}

.tasks__actions {
  display: flex;
}
.tasks__titlecontainer {
  flex: 1;
}
.tasks__title {
  color: rgb(122, 121, 121);
}
.tasks__actions {
  flex: 0;
}
.tasks__buttonedit {
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid transparent;
  outline: none;
}
.tasks__buttondelete {
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid transparent;
  outline: none;
}
.tasks__buttonedit:hover {
  border-color: green;
}
.tasks__buttondelete:hover {
  border-color: red;
}
.tasks__buttonsIncomplete {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.tasks__buttonsIncomplete > p {
  color: rgb(92, 91, 91);
}
.tasks__subtasks {
  padding: 0rem 2rem;
}
.subtareas__input {
  margin-bottom: 1rem;
  display: block;
}
.subtareas__input > input {
  width: 10rem;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 5px;
}
.subtareas__input > button:disabled {
  padding: 0.3rem;
  border: none;
  width: 4rem;
  background-color: rgb(97, 96, 96);
  color: white;
  border-radius: 3px;
  margin-left: 2rem;
}
.subtareas__input > button {
  padding: 0.3rem;
  border: none;
  width: 4rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 2rem;
  transition: 0.2s ease;
}
.tasks__infoiconsmas > .MuiSvgIcon-root {
  color: gray;
  cursor: pointer;
  transition: 0.2s ease;
}
.tasks__infoiconsmas > .MuiSvgIcon-root:hover {
  color: green;
}
.tasks__infoiconsmas {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.tasks__infoiconsmas > p {
  margin-left: 1rem;
  color: gray;
}
