.tasksprojects {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  align-items: center;
}
.taskproject__tasks {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgb(232, 235, 240);
  align-items: center;
  margin-top: 2rem;
}
.tasksprojects__hrcontainer {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
}
.tasksprojects__hrcontainer > hr {
  color: rgb(255, 254, 254);
}

.tasksprojects__header {
  margin-top: 2rem;
  display: flex;
  max-width: 60%;
  width: 100%;
  flex-direction: column;
}
.taskprojects__input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  color: rgb(117, 117, 117);
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
}
.tasksprojects > h2 {
  color: rgb(117, 117, 117);
  padding: 2rem;
}
.tasksprojects__input {
  width: 100%;
  margin-bottom: 10px;
}
.tasksprojects__content {
  width: 100%;
  margin-top: 2rem;
}
